

.C5 {
    color: slategrey;
}

.M100 {
    margin: 2px;
    width: 90%;
}

.L3002 {
    overflow: scroll;
    width: 93%;
    min-height: 77%;
    height: 80%;
    opacity: 87%;
    background-color: snow;
    /*font-size: 8px;*/

}

.I2 {
    width: 20%;
    border: 1px solid lightgreen;
    border-radius: 3px;
    background-color: ivory;
    color: grey;
    height: 30px;
    align-self: flex-start;
    margin: 20px;
    align-self: center;

}

.I1 {
    margin: 20px;
    width: 60%;
    border: 1px solid lightgreen;
    border-radius: 3px;
    background-color: ivory;
    color: slategrey;
    height: 48px;
    display: flex;
    align-self: center;
}

.C23 {
    display: flex;
    flex-direction: row;

}

.H38 {
    cursor: pointer;
    align-self: center;
    color: slategrey;
    font-style: sans-serif;
    font-size: 14px;
}

.C22 {

    display: flex;
    flex-direction: column;
    width: 83%;
    height: 83%;
    opacity: 83%;
    border-radius: 15px;
    background-color: snow;
    justify-content: flex-end;
}

.CCanvas {
    position: absolute;
    bottom: 23px;
    right: 12px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    width: 19px;
    height: 12px;
    margin-bottom: 11px;
    opacity: .332;
}

.C0 {
    height: 100vh;
    background-color: ivory;
    color: ivory;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}


html {
    height: 100vh;
}

body {
    height: 100vh;
}